.reveal div {
  font-size: 90%;
  text-align: left;
}

.reveal h1 {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

.reveal li {
  font-size: 80%;
  text-align: left;
}

.reveal a {
color:#00008b;
text-decoration:underline;
}