.reveal div {
  font-size: 90%;
  text-align: left;
}

.reveal h1 {
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}

.reveal p {
  font-size: 90%;
  text-align: left;
}

.reveal li {
  font-size: 90%;
  text-align: left;
}

.reveal code {
  font-size: 110%;
}

.reveal a {
  color:#00008b;
  text-decoration:underline;
}